.navbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 16px;
  margin-top: 16px;
  background-color: var(--background);
  width: 100vw;
}

.navbarMobile {
  display: flex;
  gap: 16px;
  align-items: center;
  
  padding: 16px;
  background-color: var(--background);
}

.home {
  display: flex;
  align-items: center;
  margin-right: 16px;
  width: 128px;
}

.mobileHome {
  display: flex;
  align-items: center;
  margin-bottom: 0 12px;
  height: 50px;
}

.linksContainerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mobileTitleContainer {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titleContainer {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100vw;
}

.linksContainerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.hamburguer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
}

.linksList {
  display: flex;
  gap: 16px;
  align-items: center;
}

.link {
  color: var(--dark);
  margin: 0 8px;
  font-weight: 500;
}

.link:hover {
  color: var(--hover);
}

.link:active {
  color: var(--active);
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--dark);
  margin: 0 8px;
}

.linkBtn {
  background: var(--dark);
  color: var(--light);
  border-radius: 24px;
  padding: 8px;
  width: 128px;
  text-align: center;
}

.linkBtn:hover {
  background: var(--hover);
  color: white;
}

.linkBtn:active {
  background: var(--active);
  color: white;
}

.accordion {
  width: 105%;
  margin-left: -5%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: absolute;
  padding: 16px 10%;
  background-color: var(--background);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--lightgrey);
  color: var(--grey);
}

.accordionHidden {
  display: none;
}

.accordionDropdown {
  display: flex;
  flex-direction: column;
  padding: 2px 4px 8px;
  background-color: var(highcontrast)
}

.accordionDropdownHidden {
  display: none;
}

@media only screen and (max-width: 720px) {
  .linkBtn {
    background: var(--dark);
    color: var(--light);
    border-radius: 24px;
    padding: 8px;
    width: 128px;
    text-align: center;
    margin-top: 16px;
  }
}

