@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --creamlight: rgb(235, 235, 235);
  --cream: rgb(240, 240, 240);
  --orange: #cc5500;
  --violet: #7F00FF;
  --pink: #e43090;
}

[data-theme="dark"] {
  --creamlight: #444;
  --cream: #333;
}

body {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--creamlight);
}

.main-container {
  padding-top: 4em;
}

.auth {
  background-color: black;
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  body {
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--creamlight);
  }
}