.mainBoard {
  border-radius: 16px;
  background-color: var(--block);
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardSection {
  background-color: transparent;
  padding: 0 32px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 33%;
  height: 450px;
}

.lemma {
  font-size: xx-large;
}

.resalted {
  color: var(--highlight);
}

.notice {
  font-size: 14px;
}

.underlined {
  position: relative;
  margin-right: 1rem;
}

.underlined:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 2px var(--hover);
  border-color: var(--hover) transparent transparent transparent;
  border-radius: 50%;
}

.access {
  display: flex;
  gap: 16px;
}

.btnRoundWhite {
  background-color: var(--white);
  padding: 8px 16px;
  border-radius: 32px;
  border: solid;
  border-color: var(--hcborder);
  border-width: 1px;
}

.btnRoundWhite:hover {
  background-color: var(--hover);
  color: white;
}

.btnRoundWhite:active {
  background-color: var(--active);
  color: white;
}

.link {
  color: var(--black);
  margin: 0 8px;
  font-weight: 500;
}

.link:hover {
  color: var(--hover);
}

.link:active {
  color: var(--active);
}

.bgImage {
  position: relative;
  image-rendering: optimizeQuality;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: none;
  padding: 32px;
}

.userBallSection {
  position: relative;
  width: 25%;
  margin: -28px;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userBall {
  width: 36px;
  border-radius: 24px;
}

.genericUserBall {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockSection {
  border-radius: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.clock {
  z-index: 10;
  background-color: white;
  color: var(--hover);
  font-size: medium;
  width: 84px;
  padding: 6px 8px;
  margin-top: 2em;
  border-radius: 16px;
  font-weight: 700;
  text-align: center;
}

.boardSectionWithBg {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 450px;
  width: 33%;
}

.ad {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}

.adTitle {
  font-size: x-large;
  font-weight: 900;
}

.adSubtitle {
  font-size: larger;
  font-weight: 700;
}

.stepNum {
  font-size: x-large;
  color: var(--graytext);
  margin: 0 4px;
}

.stepCont {
  margin: 0 4px;
}

.tabsPane {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 64px;
}

.tab {
  border-radius: 64px;
  padding: 4px 8px;
  color: var(--black)
}

.tab:hover {
  background-color: var(--hovertab);
  color: var(--white)
}

.tabActive {
  background-color: var(--activetab);
  color: var(--white)
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.searchHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
}

.searchBox {
  width: 10em;
  color: black;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterBtn {
  padding: 4px;
  border-radius: 6px;
}

.filterBtn:hover {
  background-color: var(--hover);
  color: white;
}

.filterBtn:active {
  background-color: var(--active);
  color: white;
}

.filtersSelector {
  position: fixed;
  width: 128px;
  height: 64px;
  background-color: var(--highlight);
  display: grid;
  columns: 3;
  border-radius: 16px;
}

.gamesList {
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 128px;
  width: 100%;
  padding: 4px;
  background-color: var(--white);
  border-radius: 8px;
}

.gamesList::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 20px;
}

.gamesList::-webkit-scrollbar-track {
  background: var(--sbar);
}

.gamesList::-webkit-scrollbar-thumb {
  background: var(--concrete);
}

.gamesList::-webkit-scrollbar-thumb:hover {
  background: var(--hcborder);
}

.gamesListRow {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 2px;
  width: max-content;
}

.roomNumber {
  font-size: 14px;
  border-radius: 12px;
  background-color: var(--black);
  color: var(--white);
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 2px;
}

.roomName {
  font-size: 14px;
  margin-right: 20px;
}

.listAvatar {
  width: 24px;
  height: 24px;
  margin-left: -20px;
}

.btnAdd {
  background-color: var(--hovertab);
  color: var(--white);
  border-radius: 4px;
  font-weight: 900;
  width: 24px;
  height: 24px;
}

.btnAdd:hover {
  background-color: var(--hover);
  color: white;
}

.btnAdd:active {
  background-color: var(--active);
  color: white;
}

.btnRectDark {
  color: var(--white);
  background-color: var(--black);
  padding: 8px 16px;
  border-radius: 8px;
}

.btnRectDark:hover {
  background-color: var(--hover);
  color: white;
}

.btnRectDark:active {
  background-color: var(--active);
  color: white;
}

.btnRectDarkDisabled {
  color: #777;
  background-color: var(--disabledText);
  padding: 8px 16px;
  border-radius: 8px;
}

.filterPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  padding: 16px;
  background-color: var(--hcborder);
  border-radius: 16px;
  box-shadow: 1px 1px 1px 2px rgba(100, 100, 100, 0.2);
  z-index: 100;
}

.nothingHere{
  text-align: center;
  width: 100%;
  color:var(--graytext);
  margin-top: 20%;
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  padding: 16px;
  background-color: var(--hcborder);
  border-radius: 16px;
  box-shadow: 1px 1px 1px 2px rgba(100, 100, 100, 0.2);
  z-index: 100;
  text-align: center;
}

.filterSelectGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  position: relative;
  top: -12px;
  left: 96%;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.closeBtn:hover {
  background-color: var(--disabledText)
}

.closeBtn:hover {
  background-color: var(--concrete)
}

.alertCloseBtn {
  position: relative;
  top: -12px;
  left: 50%;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.alertCloseBtn:hover {
  background-color:var(--disabledText)
}

.alertCloseBtn:hover {
  background-color:var(--concrete)
}

@media only screen and (max-width: 934px) {
  .mainBoard {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .boardSection {
    background-color: transparent;
    padding: 0 16px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 450px;
  }

  .access {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .boardSectionWithBg {
    background-color: transparent;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 450px;
    width: 100%;
  }

  .filterPopup {
    position: fixed;
    width: 256px;
    padding: 16px;
    background-color: var(--hcborder);
    border-radius: 16px;
    box-shadow: 1px 1px 1px 2px var(--shadow);
    z-index: 100;
  }
  
  .alert {
    position: fixed;
    width: 256px;
    padding: 16px;
    background-color: var(--hcborder);
    border-radius: 16px;
    box-shadow: 1px 1px 1px 2px var(--shadow);
    z-index: 100;
    text-align: center;
  }
}
